<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="greeting12" class="di.elm.VietNamGreetingImp" />
 <bean id="greetingClient" class="di.elm.VietNamGreetingClient">
    <property name="greeting" ref="greeting12"></property>
 </bean>
 <bean id="sList" class="di.elm.showListImp"/>
 <bean id="data" class="di.elm.showListClient">
   <property name="showList" ref="sList"></property>
 </bean>
</beans>