<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- <bean id="greeting" class="id.impl.EnglishGreetinglmp"/> <bean id="greetingVn" 
		class="id.impl.VietNamGreetinglmp"/> <bean id="greetingClient" class="id.impl.EnglishGreetingClient"> 
		<property name="greeting" ref="greetingVn"></property> </bean> -->

	<bean id="show" class="id.impl.SinhVienTayImp" />

	<bean id="showlistClient" class="id.impl.SinhVienClient">
		<property name="showlist" ref="show" />
	</bean>

	<bean id="a1" class="model.entity.Address">
		<constructor-arg value="Đà Nẵng" />
		<constructor-arg value="Liên Chiểu" />
		<constructor-arg value="Việt Nam" />
	</bean>

	<bean id="employer" class="model.entity.Employer">
		<constructor-arg value="Sơn" />
		<constructor-arg value="10" type="int" />
		<constructor-arg>
			<ref bean="a1" />
		</constructor-arg>
	</bean>
	
	<bean id="question" class="model.entity.Question">
		<constructor-arg value="1"/>
		<constructor-arg value="Mày đang ở đâu?"/>
		<constructor-arg>
		<list>
		<value>Đang ở nhà</value>
		<value>Đang ở trường</value>
		<value>Đang ở ngoài đường</value>
		</list>
		</constructor-arg>
	</bean>
	
	<bean id="question2" class="model.entity.Question2">
		<constructor-arg value="1"/>
		<constructor-arg value="Mày đi đâu đó?"/>
		<constructor-arg>
			<map>
			<entry key="Đi chơi" value="Thiên"/>
			<entry key="Đi ngủ" value="Hợi"/>
			<entry key="Đi học" value="Luân"/>
			</map>		
		</constructor-arg>
	</bean>
	
	<bean id="employer1" class="model.entity.Employer2">
		<constructor-arg value="1"/>
		<constructor-arg value="Sơn"/>
	</bean>
	
	<bean id="address" class="model.entity.Address2">
		<constructor-arg value="203 đồng kè"/>
		<constructor-arg value="Liên Chiểu"/>
		<constructor-arg value="Đà Nẵng"/>
		<constructor-arg value="Việt Nam"/>
	</bean>
	
	<bean id="employer2" class="model.entity.Employer2" parent="employer1">
		<constructor-arg ref="address"/>
	</bean>
	
	<bean id="employer3" class="model.entity.Employer3">
		<property name="id">
			<value>20</value>
		</property>
		<property name="name">
			<value>Thiên</value>
		</property>
		<property name="city">
			<value>Đà Nẵng</value>
		</property>
	</bean>
	
	<bean id="hinh" class="id.impl.ChuNhat"/>
	
	<bean id="hinhChuNhat" class="id.impl.ChuNhatClient">
		<property name="hinhClient" ref="hinh"/>
	</bean>
	
	<bean id="hinh1" class="id.impl.HinhVuong"/>
	
	<bean id="hinhVuong" class="id.impl.HinhVuongClient">
		<property name="HinhClient" ref="hinh1"></property>
	</bean>
</beans>