  <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 	<bean id="hoSoNhanVienExcelId"
	   	class="fasttrackse.ffse1703.fbms.excel.quantrinhansupikalong.HoSoNhanVienExcel">
	</bean>
	<bean id="excelHandler"
		class="fasttrackse.ffse1703.fbms.controller.quantridanhgia.Excelhandler">
	</bean>
</beans>  