<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuanLyMayATM</display-name>
  <welcome-file-list>
    <welcome-file>KhachHangServlet</welcome-file>
    <welcome-file>/KhachHangServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>KhachHangServlet</display-name>
    <servlet-name>KhachHangServlet</servlet-name>
    <servlet-class>controller.KhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangServlet</servlet-name>
    <url-pattern>/KhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteKh</display-name>
    <servlet-name>DeleteKh</servlet-name>
    <servlet-class>controller.DeleteKh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteKh</servlet-name>
    <url-pattern>/DeleteKh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddKH</display-name>
    <servlet-name>AddKH</servlet-name>
    <servlet-class>controller.AddKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKH</servlet-name>
    <url-pattern>/AddKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateKh</display-name>
    <servlet-name>UpdateKh</servlet-name>
    <servlet-class>controller.UpdateKh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKh</servlet-name>
    <url-pattern>/UpdateKh</url-pattern>
  </servlet-mapping>
</web-app>